.gradient-custom {
  /* fallback for old browsers */
  background-image: url("../img/catJAM.gif")
  /* background: #f093fb; */

  /* Chrome 10-25, Safari 5.1-6
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );  */
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

#submit-btn:hover {
  opacity: 100;
}
#submit-btn {
  padding: 10px;
  cursor: default;
  display: inline-block;
  opacity: 100;
}

#submit-btn2:hover {
  opacity: 100;
}
#submit-btn2 {
  position: absolute;
  padding: 10px;
  cursor: default;
  display: inline-block;
  right: 5%;
  opacity: 0;
}

#submit-btn3:hover {
  opacity: 100;
}
#submit-btn3 {
  position: absolute;
  padding: 10px;
  cursor: default;
  top: 10%;
  display: inline-block;
  right: 5%;
  opacity: 0;
}

#submit-btn4:hover {
  opacity: 100;
}
#submit-btn4 {
  position: absolute;
  padding: 10px;
  cursor: default;
  top: 10%;
  display: inline-block;
  right: -60%;
  opacity: 0;
}

#submit-btn5:hover {
  opacity: 100;
}
#submit-btn5 {
  position: absolute;
  padding: 10px;
  cursor: default;
  top: 20%;
  display: inline-block;
  left: 15%;
  opacity: 0;
}
